// START DOWNLOAD
section#download.download
  .container
    h2.wow.fadeInDown.animated(data-wow-offset='15', data-wow-duration='1.2s') Get the app now
    .wow.fadeInUp.animated(data-wow-offset='15', data-wow-duration='1.2s')
      a.btn.btn-lg.btn-theme(href='http://play.google.com')
        em.fa.fa-android
        | Play Store

      a.btn.btn-lg.btn-theme(href='/app/#/page/register')
        em.fa.fa-plus-square-o
        | Create questionnaire

// END DOWNLOAD