// START FEATURE LIST
section#features.features-list
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Full of Features
      .section-description Donec mauris arcu, vestibulum ac hendrerit ut, convallis cursus libero. 
    // END SECTION HEADER
    .row
      // START FEATURES LEFT
      .col-md-4.col-sm-4.features-left
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-random.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Customisable
            p Customisale form styles incorporating four different input types
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-rocket.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Fast data collection
            p completed forms are uploaded directly from the device, most likely before the user even gets back!
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-crosshairs.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Geolocated
            p A GPS fix is taken at the same time as the photo, ensuring high quality survey data
      // END FEATURES LEFT
      
      // START MOBILE MOCKUP
      .col-md-4.col-sm-4
        .mockup-mobile.wow.fadeIn.animated(data-wow-offset='120', data-wow-duration='1.3s')
          img(src='img/phone-minimal.png', alt='', data-no-retina)
      // END MOBILE MOCKUP
      
      // START FEATURES RIGHT
      .col-md-4.col-sm-4.features-right
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-moon-o.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Works day and night
            p Our system is operational 24/7, taking returned questionnaires and saving them to our secure system
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-line-chart.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Data analytics
            p Landscape connect comes with tailored data analytics to help show important features in the data.
        // FEATURE
        .feature
          // FEATURE ICON
          .feature-icon.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-database.fa-stack-1x.fa-inverse
          // FEATURE TEXT
          .feature-details
            h4.main-color Publishing tools
            p Turn on open data sharing to instantly publish the data collected as an open data set.
      // END FEATURES RIGHT
// END FEATURE LIST

