// START PIC TEXT LEFT
section#desc2.pic-text.pic-text-left
  .container
    .row
      // LEFT PIC
      .col-md-6.wow.fadeInLeft.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/ipad-air.png', alt='', data-no-retina)
      // RIGHT TEXT
      .col-md-6
        // SECTION TITLE
        h2 Simple administrative dashboard
        p Creating a new form has never been simpler. Simply drag and drop form elements on to the questionnaire. Collecting data back from questionnaires is done automatically as soon as the device has an internet connection.
        // FEATURE LIST
        ul.featured-list
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-code.fa-stack-1x.fa-inverse
            p No need to learn code
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-bullhorn.fa-stack-1x.fa-inverse
            p Engage users by automatically creating reports
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-compass.fa-stack-1x.fa-inverse
            p Multiple layout options
          li
            span.fa-stack.fa-lg
              em.fa.fa-circle.fa-stack-2x
              em.fa.fa-paint-brush.fa-stack-1x.fa-inverse
            p Customisable splash screen

// END PIC TEXT LEFT

