// START PLAN TABLE
section#plans.plan-table
  .container
    // SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
      h2 Plans
      .section-description 
        | Signup now for a free account or upgrade to a full account
        //- | , get lifetime 
        //- u free updates.
    // END SECTION HEADER
    .row
      // PLAN
      .col-md-6.col-sm-6.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
        .plan
          h3.plan-header Free 
          .plan-price
            h2
              sup: small £
              | 0
              span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check
              | Unlimited questionnaires
            li
              em.fa.fa-check
              | Unlimited questions
            li
              em.fa.fa-check
              | Public data collection
            li
              em.fa.fa-check
              | Private data collection
            li
              em.fa.fa-check
              | Free Updates
          hr
          .text-center
            a.btn.btn-theme(href="/app/#/page/register") Try free
      // PLAN
      .col-md-6.col-sm-6.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
        .plan
          h3.plan-header Premium 
          .plan-price
            h2
              sup: small £
              | TBC
              span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check
              | Greater location accuracy
            li
              em.fa.fa-check
              | Custom print outs
            li
              em.fa.fa-check
              | Better analytics
            li
              em.fa.fa-check
              | Email Notifications
            li
              em.fa.fa-check
              | Unlimited questions
          hr
          //p.plan-description The perfect price for all your project solutions.
          .text-center
            a.btn.btn-theme(href="/app/#/page/register") Coming soon
      //- // PLAN
      //- .col-md-4.col-sm-4.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
      //-   .plan
      //-     h3.plan-header Extended 
      //-     .plan-price
      //-       h2
      //-         sup: small £
      //-         | 250
      //-         span.plan-period /mo
      //-     ul.plan-features
      //-       li
      //-         em.fa.fa-check
      //-         | Unlimited questionnaires
      //-       li
      //-         em.fa.fa-check
      //-         | Release data publicly
      //-       li
      //-         em.fa.fa-check
      //-         | Support FAQ
      //-       li
      //-         em.fa.fa-check
      //-         | Free Updates
      //-       li
      //-         em.fa.fa-check
      //-         | Unlimited questions
      //-       li
      //-         em.fa.fa-check
      //-         | 100 Private questionnaires
      //-     hr
      //-     .text-center
      //-       a.btn.btn-theme(href="/app/#/page/register") Try free
// END PLAN TABLE