// START PLAN TABLE
section#plans.plan-table
  .container
    // SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
      h2 Plans
      .section-description 
        | Signup now for a free account or upgrade to a full account
        //- | , get lifetime 
        //- u free updates.
    // END SECTION HEADER
    .row
      // PLAN
      .col-md-4.col-sm-4.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
        .plan
          h3.plan-header Free 
          .plan-price
            h2
              sup: small £
              | 0
              span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check
              | Unlimited questionnaires
            li
              em.fa.fa-check
              | Release data publicly
            li
              em.fa.fa-check
              | Support FAQ
            li
              em.fa.fa-check
              | Free Updates
            li
              em.fa.fa-times.plan-feature-disable
              | Limited to 20 questions
            li
              em.fa.fa-times.plan-feature-disable
              | Private data collection
          hr
          .text-center
            button.btn.btn-theme(type="button") Sign up
      // PLAN
      .col-md-4.col-sm-4.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
        .plan
          h3.plan-header Small 
          .plan-price
            h2
              sup: small £
              | 50
              span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check
              | Unlimited questionnaires
            li
              em.fa.fa-check
              | Release data publicly
            li
              em.fa.fa-check
              | Support FAQ
            li
              em.fa.fa-check
              | Free Updates
            li
              em.fa.fa-check
              | Unlimited questions
            li
              em.fa.fa-check
              | 10 Private questionnaires
          hr
          //p.plan-description The perfect price for all your project solutions.
          .text-center
            button.btn.btn-theme(type="button") Sign up
      // PLAN
      .col-md-4.col-sm-4.wow.fadeIn.animated(data-wow-offset='15', data-wow-duration='1.3s')
        .plan
          h3.plan-header Extended 
          .plan-price
            h2
              sup: small £
              | 250
              span.plan-period /mo
          ul.plan-features
            li
              em.fa.fa-check
              | Unlimited questionnaires
            li
              em.fa.fa-check
              | Release data publicly
            li
              em.fa.fa-check
              | Support FAQ
            li
              em.fa.fa-check
              | Free Updates
            li
              em.fa.fa-check
              | Unlimited questions
            li
              em.fa.fa-check
              | 100 Private questionnaires
          hr
          .text-center
            button.btn.btn-theme(type="button") Sign up
// END PLAN TABLE