// START APP SHOTS
section#shots.appshots
  .container
    // SECTION HEADER
    .section-header
      h2 Questionnaire gallery
      .section-description With the ability to publicly share a questionnaire in our gallery it's possible to collect data from a large group of potential users.
      .section-description
        a(href="/questionnaires/") Find a questionnaire
    // END SECTION HEADER
    .row
      #appshots.owl-carousel.owl-theme
        .shot
          a(href='img/shots/01.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/01.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/03.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/03.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/02.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/02.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/04.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/04.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/01.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/01.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/03.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/03.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/02.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/02.jpg', alt='App Shot', data-no-retina)
     
        .shot
          a(href='img/shots/04.jpg', data-lightbox-gallery='appshots')
            img(src='img/shots/04.jpg', alt='App Shot', data-no-retina)
// END APP SHOTS

