// START APP SHOTS
section#shots.appshots
  .container
    // SECTION HEADER
    .section-header
      h2 Questionnaire Gallery
      .section-description See what our users have been creating in the public questionnaire gallery.
      .section-description
        a(href="/questionnaires/") Find a questionnaire
    // END SECTION HEADER
    .row
      #appshots.owl-carousel.owl-theme
        .shot
          a(href='/app/#/page/questionnaires/5F077', data-lightbox-gallery='appshots')
            img(src='img/shots/01.png', alt='App Shot', data-no-retina)
     
        .shot
          a(href='/app/#/page/questionnaires/5F077', data-lightbox-gallery='appshots')
            img(src='img/shots/02.png', alt='App Shot', data-no-retina)
     
        .shot
          a(href='/app/#/page/questionnaires/67183', data-lightbox-gallery='appshots')
            img(src='img/shots/03.png', alt='App Shot', data-no-retina)
     
        .shot
          a(href='/app/#/page/questionnaires/67183', data-lightbox-gallery='appshots')
            img(src='img/shots/04.png', alt='App Shot', data-no-retina)
     
        //- .shot
        //-   a(href='img/shots/01.jpg', data-lightbox-gallery='appshots')
        //-     img(src='img/shots/01.jpg', alt='App Shot', data-no-retina)
     
        //- .shot
        //-   a(href='img/shots/03.jpg', data-lightbox-gallery='appshots')
        //-     img(src='img/shots/03.jpg', alt='App Shot', data-no-retina)
     
        //- .shot
        //-   a(href='img/shots/02.jpg', data-lightbox-gallery='appshots')
        //-     img(src='img/shots/02.jpg', alt='App Shot', data-no-retina)
     
        //- .shot
        //-   a(href='img/shots/04.jpg', data-lightbox-gallery='appshots')
        //-     img(src='img/shots/04.jpg', alt='App Shot', data-no-retina)
// END APP SHOTS

