// START PIC TEXT RIGHT
section#desc1.pic-text.pic-text-right
  .container
    .row
      // LEFT TEXT
      .col-md-6
        // SECTION TITLE
        h2 Android Phone and Tablet compatible
        p The app is compatible with both Android Phones and Tablets running 4.1 honeycomb and higher. This is over 90% of the Android market.
        p Location is enhanced by using triangulation from cell phone towers, making the process easier and faster than finding a location on a GPS device.
        p Photos are uploaded in the highest resolution possible from the device, making photos invaluable in understanding the landscape.
          br
          br
        p: em Laoreet vitae pretium eget, lobortis sit amet ante. 
      // RIGHT PIC
      .col-md-6.wow.fadeInRight.animated(data-wow-offset='15', data-wow-duration='1.2s')
        .mockup-mobile
          img(src='img/iphone-angle.png', alt='', data-no-retina)
      // /END PHONES IMAGE
// END PIC TEXT RIGHT
