// START APP SHOTS
section#versions.versions
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='50', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Forget clipboards
      .section-description Built from the ground up to be perfect for collecting great quality landscape data
    // END SECTION HEADER
    .row.bottom-space
      .col-md-3.text-center
        .feature-icon.version-pic.wow.fadeInUp.animated.text-info(data-wow-offset='100', data-wow-duration='1.3s')
            em.fa.fa-camera
        h4 Photo
        p: small A picture speaks a thousand words, so we collect one with each questionnaire response.
        //- a.btn.btn-sm.btn-default(href="/questionnaires/")
          | Live Demo
      .col-md-3.text-center
        .feature-icon.version-pic.wow.fadeInUp.animated.text-info(data-wow-offset='200', data-wow-duration='1.3s')
            em.fa.fa-location-arrow
        h4 Location
        p: small Location gives context to a questionnaire responses and is grabbed automatically when taking a photo.
        //- a.btn.btn-sm.btn-default(href="../../backend-jquery/") Live Demo
      .col-md-3.text-center
        .feature-icon.version-pic.wow.fadeInUp.animated.text-info(data-wow-offset='300', data-wow-duration='1.3s')
            em.fa.fa-signal
        h4 Offline
        p: small Just like a clipboard Landscape Connect doens't need Internet in the field to work. Pre-install a questionnaire to use it anywhere.
        //- a.btn.btn-sm.btn-default(href="../../material/") Live Demo
      .col-md-3.text-center
        .feature-icon.version-pic.wow.fadeInUp.animated.text-info(data-wow-offset='400', data-wow-duration='1.3s')
            em.fa.fa-users
        h4 Groups
        p: small With two ways of installing a questionnaire and instant feedback at the end of a session it's perfect for using with field-studies groups.
        //- a.btn.btn-sm.btn-default(href="http://themicon-001-site1.smarterasp.net/") Live Demo
    //- .row.bottom-space
    //-   .col-md-3.text-center
    //-     img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/ror.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
    //-     h4 Ruby on Rails + Seed
    //-     p: small  Modular JavaScript and SASS stylesheets. Developed to serve assets per controller, avoid bloating your views with unnecessary requests. Heroku ready!.
    //-     a.btn.btn-sm.btn-default(href="https://angle-on-rails.herokuapp.com/") Live Demo
    //-   .col-md-3.text-center
    //-     img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/meanjs.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
    //-     h4 MeanJS Seed
    //-     p: small A full-stack JavaScript solution that helps you build fast, robust and maintainable web apps. Supports LESS, modular JavaScript and Swig templates.
    //-     a.btn.btn-sm.btn-default(href="https://angle-on-mean.herokuapp.com/") Live Demo
    //-   .col-md-3.text-center
    //-     img.wow.zoomIn.animated.img-responsive.version-pic(src="img/versions/meteor.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
    //-     h4 MeteorJS
    //-     p: small Meteor is a complete open source platform for building web and mobile apps in pure JavaScript. Based on Node.js with support for LESS stylesheets.
    //-     a.btn.btn-sm.btn-default(href="https://45.55.64.191") Live Demo
    //- .text-center
    //-   p
    //-     img.wow.zoomIn.animated(src="img/versions/sass.png", alt="", data-no-retina="", data-wow-offset='15', data-wow-duration='.5s')
    //-     | Main projects also includes Sass version !
