// START APP SHOTS
section#versions.versions
  .container
    // START SECTION HEADER
    .section-header.wow.fadeIn.animated(data-wow-offset='50', data-wow-duration='1.3s')
      // SECTION TITLE
      h2 Forget clipboards
      .section-description Landscape connect is the new way of creating and answering landscape questionnaires.
      br 
      |Built from the ground up to be perfect for collecting great quality landscape data.
      //- p Create a questionnaire in our questionnaire builder to get started.

    // END SECTION HEADER
    .row.bottom-space
      .col-md-3.text-center
        .feature-icon.version-pic.wow.fadeInUp.animated.text-info(data-wow-offset='100', data-wow-duration='1.3s')
            em.fa.fa-camera
        h4 Photo
        p: small A picture speaks a thousand words, so we collect one with each questionnaire response
      .col-md-3.text-center
        .feature-icon.version-pic.wow.fadeInUp.animated.text-info(data-wow-offset='200', data-wow-duration='1.3s')
            em.fa.fa-location-arrow
        h4 Location
        p: small Location gives context to a questionnaire response and is grabbed automatically when taking a photo
      .col-md-3.text-center
        .feature-icon.version-pic.wow.fadeInUp.animated.text-info(data-wow-offset='300', data-wow-duration='1.3s')
            em.fa.fa-signal
        h4 Offline
        p: small Just like a clipboard, Landscape Connect doesn't need Internet in the field to work. Download a questionnaire to use it anywhere
      .col-md-3.text-center
        .feature-icon.version-pic.wow.fadeInUp.animated.text-info(data-wow-offset='400', data-wow-duration='1.3s')
            em.fa.fa-users
        h4 Groups
        p: small With three ways of downloading a questionnaire and instant feedback at the end of a session it's perfect for using with field-day groups
