/node_modules/
/bower_components/
/public/app/app/css/
/public/app/app/js/
/public/app/app/pages/
/public/app/app/views/
/public/app/vendor/
/public/vendor/
/public/app/views/
/vendor/
/coverage/

/frontend/node_modules/

/frontend/bower_components/

/npm-debug.log

