meta(charset='UTF-8')
meta(name='description', content='Landing Page Template')
meta(name='keywords', content='bootstrap, app, theme')
meta(name='author', content='@themicon')
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

title Landscape Connect

// PREALOADER (loads asap)
link(rel='stylesheet', href="vendor/nprogress/nprogress.css")
script(src="vendor/nprogress/nprogress.js")


// FAVICON
link(rel="apple-touch-icon", sizes="57x57", href="/img/favicon/apple-touch-icon-57x57.png")
link(rel="apple-touch-icon", sizes="60x60", href="/img/favicon/apple-touch-icon-60x60.png")
link(rel="apple-touch-icon", sizes="72x72", href="/img/favicon/apple-touch-icon-72x72.png")
link(rel="apple-touch-icon", sizes="76x76", href="/img/favicon/apple-touch-icon-76x76.png")
link(rel="apple-touch-icon", sizes="114x114", href="/img/favicon/apple-touch-icon-114x114.png")
link(rel="apple-touch-icon", sizes="120x120", href="/img/favicon/apple-touch-icon-120x120.png")
link(rel="apple-touch-icon", sizes="144x144", href="/img/favicon/apple-touch-icon-144x144.png")
link(rel="apple-touch-icon", sizes="152x152", href="/img/favicon/apple-touch-icon-152x152.png")
link(rel="apple-touch-icon", sizes="180x180", href="/img/favicon/apple-touch-icon-180x180.png")
link(rel="icon", type="image/png", href="/img/favicon/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="/img/favicon/favicon-194x194.png", sizes="194x194")
link(rel="icon", type="image/png", href="/img/favicon/favicon-96x96.png", sizes="96x96")
link(rel="icon", type="image/png", href="/img/favicon/android-chrome-192x192.png", sizes="192x192")
link(rel="icon", type="image/png", href="/img/favicon/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="/img/favicon/manifest.json")
link(rel="mask-icon", href="/img/favicon/safari-pinned-tab.svg", color="#5bbad5")
link(rel="shortcut icon", href="/img/favicon/favicon.ico")
meta(name="msapplication-TileColor", content="#da532c")
meta(name="msapplication-TileImage", content="/img/favicon/mstile-144x144.png")
meta(name="msapplication-config", content="/img/favicon/browserconfig.xml")
meta(name="theme-color", content="#ffffff")

// FONT
link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,400italic', rel='stylesheet', type='text/css')

// ICONS
link(rel='stylesheet', href='vendor/font-awesome/css/font-awesome.min.css')

script(src='vendor/jquery.browser/dist/jquery.browser.js')
script.
    if ( window.jQBrowser.mobile && top.location != location) top.location.href = document.location.href;

// VENDOR CSS
link(rel='stylesheet', href='vendor/owl.carousel/dist/assets/owl.carousel.css')
link(rel='stylesheet', href='vendor/owl.carousel/dist/assets/owl.theme.default.css')
link(rel='stylesheet', href='vendor/Nivo-Lightbox/nivo-lightbox.css')
link(rel='stylesheet', href='vendor/Nivo-Lightbox/themes/default/default.css')
link(rel='stylesheet', href='vendor/animate.css/animate.css')

// SITE CSS
link(rel='stylesheet', href='css/styles.css', id="stylescss")
link(rel='stylesheet', href='css/theme-b.css')


include _ie
+ie('if lt IE 9')
  script(src='js/html5shiv.js')
  script(src='js/respond.min.js')

