.public.questionnaire-list(ng-controller="publiQuestionnaireCtrl as ctrl")
  .row
    .col-md-4
      .questionnaire-images
        img.questionnaire(ng-src="{{'/api/questionnaires/' + questionnaire.serverId + '/qr'}}")
        .shortcode
          | Quick code: 
          span.code {{questionnaire.serverId}}
        img.img-responsive(data-ng-src='{{questionnaire.introImage}}', data-err-src='images/png/avatar.png')
    .col-md-8
      h1 {{questionnaire.title}}
      p {{questionnaire.description}}
      ul.specs
        li
          | Created 
          span.date {{questionnaire.dateAdded}}
          |  by 
          span.by 3Equals
        li
          | Website 
          span.website
            a(href='{{questionnaire.website}}') {{questionnaire.website}}
          | Public Data 
          span.publicData {{questionnaire.publicData}}
        li
          span Sections
          dl(ng-repeat='section in questionnaire.sections')
            dd {{section.title}}
