.public.questionnaire-detail.row(ng-controller="publiQuestionnaireCtrl as ctrl")
  .col-md-3
  .v-card.col-md-9
    a(ui-sref="page.questionnaires")
      span.fa.fa-chevron-left.text-muted
    .row
      .col-md-4
        .questionnaire-images
          img.questionnaire(ng-src="{{'/api/questionnaires/' + questionnaire.serverId + '/qr'}}")
          .shortcode
            | Quick code: 
            a(href="{{'/questionnaires/' + questionnaire.serverId}}")
              span.code {{questionnaire.serverId}}
            //- ng-dialog-controller='InsideCtrl', ng-dialog-data='{{jsonData}}'
            p
              button.btn.btn-default(ng-click="openInstall()") Download instructions
          img.img-responsive(data-ng-src='{{questionnaire.introImage}}', data-err-src='images/png/avatar.png')
      .col-md-8
        h1 {{questionnaire.title}}
        p {{questionnaire.description}}
        ul.specs
          li.left
            | Created 
            span.date {{questionnaire.dateAdded}}
            |  by 
            span.by 3Equals
          li.right
            span.publicQuestionnaire
              span.fa.fa-check.text-muted(ng-if="questionnaire.getLocation")
              span.fa.fa-times.text-muted(ng-if="!questionnaire.getLocation")
              | Uses Location
            span.publicQuestionnaire
              span.fa.fa-check.text-muted(ng-if="questionnaire.getInitialPhoto")
              span.fa.fa-times.text-muted(ng-if="!questionnaire.getInitialPhoto")
              | Uses Photo
            span.publicQuestionnaire
              span.fa.fa-check.text-muted(ng-if="questionnaire.publicQuestionnaire")
              span.fa.fa-times.text-muted(ng-if="!questionnaire.publicQuestionnaire")
              | Public Questionnaire
            span.publicData
              span.fa.fa-check.text-muted(ng-if="questionnaire.publicData")
              span.fa.fa-times.text-muted(ng-if="!questionnaire.publicData")
              | Public Data
            span.website(ng-if="questionnaire.website")
              | Website 
              a(href='{{questionnaire.website}}') {{questionnaire.website}}
          li
            span Question sections
            dl(ng-repeat='section in questionnaire.sections')
              dd {{section.title}}
          div(ng-display="questionnaire.publicData")
            | Download data
            ul
              li
                a(href="{{'/api/questionnaires/' + questionnaire.serverId + '/download/csv'}}") csv
              li
                a(href="{{'/api/questionnaires/' + questionnaire.serverId + '/download/kmz'}}") Google Earth
              li
                a(href="{{'/api/questionnaires/' + questionnaire.serverId + '/download/media'}}") Media

<!-- Templates -->
script(type="text/ng-template", id="firstDialogId")
  div
    .row
      .col-md-6
        h5 Install Landscape Connect
        p To download this questionnaire you need the Landscape Connect Android App</p>
        p You can get this from the 
          a(href="") Google Play Store
      .col-md-6
        h5 Download Questionnaire
        p To download the questionnaire click the 5 character Quick code, enter the code manually, or scan the QR from within the app
      button.btn.btn-default.mr(type='button', ng-click="closeThisDialog()") Close

    //- button.btn.btn-default.mr(type='button', ng-dialog='secondDialogId', ng-dialog-class='ngdialog-theme-default', ng-dialog-controller='SecondModalCtrl', ng-dialog-close-previous='ng-dialog-close-previous') Close and open
    //- button.btn.btn-primary(type='button', ng-click='openSecond()') Open next
