<h3>New Questionnaire
   <small>Native AngularJS form wizard</small>
</h3>
<!-- START panel-->
<div class="questionnairenew">
   <div>
      <form form-wizard="" steps="4" novalidate="" ng-submit="alertSubmit()">
         <div ng-controller="questionnaireNewCtrl as dgnr" class="form-wizard wizard-horizontal">
            <!-- START wizard steps indicator-->
            <ol class="row panel panel-default">
               <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)" class="col-md-3">
                  <h4>Start</h4>
                  <small class="text-muted">Add the basic details</small>
               </li>
               <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)" class="col-md-3">
                  <h4>Designer</h4>
                  <small class="text-muted">Design your form sections and questions</small>
               </li>
               <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)" class="col-md-3">
                  <h4>Splash page</h4>
                  <small class="text-muted">Add a splash page for users</small>
               </li>
               <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)" class="col-md-3">
                  <h4>Publish</h4>
                  <small class="text-muted">Set where to publish and we're done!</small>
               </li>
            </ol>
            <!-- END wizard steps indicator-->
            <!-- START Wizard Step inputs -->
            <div ng-show="wizard.active(1)" class="panel panel-default">
               <div class="panel-body">
                  <fieldset>
                     <legend>Start</legend>
                     <p>The basic details to uniquely identify your Questionnaire</p>
                     <!-- START row -->
                     <p>Title</p>
                     <input type="text" ng-model="questionnaire.name" placeholder="Title" class="mb-lg form-control input-lg" />
                     <p>Project Website</p>
                     <input type="text" ng-model="questionnaire.website" placeholder="http://" class="mb-lg form-control input-lg" />
                     <p>Description</p>
                     <textarea rows="6" ng-model="questionnaire.description" class="form-control"></textarea>
                     <div class="clearfix"></div>
                  </fieldset>
                  <ul class="pager">
                     <li class="next"><a ng-click="wizard.go(2)">Next <span>&rarr;</span></a>
                     </li>
                  </ul>
               </div>
               <!-- END Wizard Step inputs-->
            </div>
            <!-- START Wizard Step inputs -->
            <div ng-show="wizard.active(2)" tour="" backdrop="true">
               <!-- START QBuilder-->
               <h2>Designer</h2><a ng-click="tour.restart(true)" class="btn btn-primary mb-lg">Start Tour!</a>
               <div class="row">
                  <div class="col-lg-3 sections">
                     <div tour-step="" order="1" title="Sections" content="A questionnaire is broken up in to sections. Click a section to edit it or drag to reorder sections." placement="right" class="panel panel-default">
                        <div class="panel-body">
                           <h2>Sections</h2>
                           <div>
                              <div ui-sortable="sectionOptions" ng-model="questionnaire.sections" class="screen draggable-element-container list-group">
                                 <div ng-click="sectionClick(section)" ng-class="{&quot;alert-info&quot;: section === selectedSection}" ng-repeat="section in questionnaire.sections track by $index" class="alert section">
                                    <em class="fa fa-reorder fa-fw text-muted mr-log moveicon"></em>{{section.title}}
                                    <em ng-click="removeSection(section)" class="fa fa-times deleteicon"></em>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <input ng-model="sectionToAdd" ng-keyup="$event.keyCode == 13 ? addSection() : true" type="text" placeholder="Add Section" class="form-control" />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div tour-step="" order="2" title="Questions" content="Inside each section there are questions." placement="right" class="col-lg-6 minheight10 form">
                     <div class="panel panel-default">
                        <div class="panel-body">
                           <div ng-hide="selectedSection == null" tour-step="" order="3" title="New question" content="Click to add a new question to the selected section" placement="right" class="newquestionbuttons row">
                              <div ng-repeat="arr in draggables track by $index" ng-model="arr" class="btn screen col-md-3">
                                 <div ng-click="newQuestionClick(questionType)" ng-repeat="questionType in arr" class="btn btn-info"><i ng-class="{'fa-check-square': questionType.type == 'multi','fa-circle-o': questionType.type == 'radio', 'fa-font': questionType.type == 'text', 'fa-quote-left': questionType.type == 'textarea'}" class="fa"></i>
                                 </div>
                              </div>
                           </div>
                           <div ng-if="selectedSection == null">
                              <p>Please create a new section or select a section from the right hand-side</p>
                           </div>
                           <div ui-sortable="questionOptions" ng-model="selectedSection.questions" class="apps-container screen draggable-element-container">
                              <div ng-click="selectQuestion(question)" ng-class="{&quot;alert-info&quot;: question === selectedQuestion}" ng-repeat="question in selectedSection.questions track by $index" class="form-group formelementlistitem alert question">
                                 <em class="fa fa-reorder fa-fw text-muted mr-log moveicon"></em>{{question.title}}
                                 <em ng-click="removeQuestion(question)" class="fa fa-times deleteicon"></em>
                                 <div ng-if="question.type === 'text'">
                                    <input type="text" placeholder="" class="form-control" />
                                 </div>
                                 <div ng-if="question.type === 'textarea'">
                                    <textarea type="text" placeholder="" class="form-control"></textarea>
                                 </div>
                                 <div ng-if="question.type === 'radio'">
                                    <div ng-repeat="choice in question.choices" class="radio">
                                       <label>
                                          <input type="radio" name="{{question.title}}" value="{{choice.choice}}" />{{choice.choice}}</label>
                                    </div>
                                 </div>
                                 <div ng-if="question.type === 'multi'">
                                    <div ng-repeat="choice in question.choices" class="checkbox">
                                       <label>
                                          <input type="checkbox" value="{{choice.choice}}" />{{choice.choice}}</label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div tour-step="" order="4" title="Properties" content="Edit section and Question properties" placement="left" class="col-lg-3 properties">
                     <div class="panel panel-default">
                        <div class="panel-body">
                           <h2 ng-if="selectedQuestion != null">Question</h2>
                           <h2 ng-if="selectedQuestion == null">Section</h2>
                           <div class="apps-container screen">
                              <div ng-if="selectedQuestion != null">
                                 <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" ng-blur="checkDuplicateQuestion(selectedQuestion.title, $event)" ng-model="selectedQuestion.title" placeholder="Title" class="form-control" />
                                 </div>
                                 <div ui-sortable="questionOptions" ng-show="selectedQuestion.choices" ng-if="selectedQuestion.type === 'multi' || selectedQuestion.type === 'radio'" class="form-group screen draggable-element-container list-group">
                                    <label for="title">choices</label>
                                    <div ng-repeat="choice in selectedQuestion.choices">
                                       <div class="list-group-item">
                                          <em class="fa fa-reorder fa-fw text-muted mr-log moveicon"></em>{{choice.choice}}
                                          <em ng-click="removeOption(selectedQuestion, choice)" class="fa fa-times deleteicon"></em>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <input ng-model="choiceToAdd" ng-keyup="$event.keyCode == 13 ? addOption() : true" type="text" placeholder="Add Choice" class="form-control" />
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label for="title">Required</label>
                                    <input type="checkbox" ng-model="selectedQuestion.required" class="form-control" />
                                    <p class="help-block">Require this question to be answered</p>
                                 </div>
                              </div>
                              <div ng-if="selectedQuestion == null &amp;&amp; selectedSection != null">
                                 <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" ng-model="selectedSection.title" placeholder="Title" ng-blur="checkDuplicateSection(selectedSection.title, $event)" class="form-control" />
                                 </div>
                              </div>
                              <div ng-if="selectedQuestion == null &amp;&amp; selectedSection == null">
                                 <p>Select a section</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div ng-show="wizard.active(3)">
               <div class="panel panel-default">
                  <div class="panel-body">
                     <fieldset>
                        <legend>Splash page</legend>
                        <p>The splash page is shown when starting a new response to a questionnaire. Longer content will scroll on smaller devices</p>
                        <!-- START row -->
                        <div class="row">
                           <div class="col-md-12">
                              <div class="form-group">
                                 <label for="title">Intro title</label>
                                 <input type="text" ng-model="questionnaire.introTitle" placeholder="Welcome to..." class="form-control" />
                              </div>
                              <div class="form-group">
                                 <label for="title">Intro description</label>
                                 <textarea rows="6" ng-model="questionnaire.introDescription" placeholder="Help us build a picture of..." class="form-control"></textarea>
                              </div>
                              <div class="form-group">
                                 <label for="title">Intro image</label>
                                 <img data-ng-src="{{questionnaire.introImage}}" data-err-src="images/png/avatar.png" class="img-responsive" />
                                 <input type="file" ng-model="questionnaire.introImage" accept="image/jpeg" app-filereader="" class="form-control" />
                                 <p class="help-block">.jpg file with max file size of 200kb</p>
                              </div>
                           </div>
                        </div>
                        <!-- END row -->
                     </fieldset>
                     <ul class="pager">
                        <li class="previous">
                           <a ng-click="wizard.go(2)">
                              <span>&larr; Previous</span>
                           </a>
                        </li>
                        <li class="next">
                           <a ng-click="wizard.go(4)">
                              <span>Next &rarr;</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <!-- END Wizard Step inputs -->
            <!-- START Wizard Step inputs -->
            <div ng-show="wizard.active(4)">
               <div class="panel panel-default">
                  <div class="panel-body">
                     <fieldset>
                        <legend>Publish</legend>
                        <p>Public questionnaires are indexed by our website and are available to browse and install. Private questionnaires can only be accessed using the QuickCode or QR code generated.</p>
                        <p>By publishing the data publicly all uploads will be available to download from the public questionnaire page.</p>
                     </fieldset>
                     <div class="row">
                        <div class="col-md-12">
                           <div class="form-group clearfix">
                              <div class="checkbox c-checkbox pull-left mt0">
                                 <label>
                                    <input type="checkbox" ng-model="questionnaire.publicQuestionnaire" />
                                    <span class="fa fa-check"></span>Publicly publish Questionnaire</label>
                              </div>
                           </div>
                           <div class="form-group clearfix">
                              <div class="checkbox c-checkbox pull-left mt0">
                                 <label>
                                    <input type="checkbox" ng-model="questionnaire.publicData" />
                                    <span class="fa fa-check"></span>Publicly publish Data</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <ul class="pager">
                        <li class="previous">
                           <a ng-click="wizard.go(3)">
                              <span>&larr; Previous</span>
                           </a>
                        </li>
                        <li class="next">
                           <a ng-click="submitQuestionnaire()">
                              <span>Publish</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <!-- END Wizard Step inputs -->
               </div>
            </div>
         </div>
      </form>
   </div>
</div>
<!-- END panel -->