<div class="row response">
   <!-- Blog Content-->
   <div class="col-lg-9">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="bb">
               <h3 class="text-lg">Response to {{questionnaire.name}}</h3>
            </div>
         </div>
         <div class="panel-body text-md">
            <p>{{questionnaire.description}}</p>
            <br/>
         </div>
      </div>
      <div class="panel panel-default section">
         <div class="panel-heading">
            <div class="panel-title">raw</div>
         </div>
         <div class="panel-body">{{response.data}}</div>
      </div>
      <div ng-repeat="(sectionkey, sectionval) in response.data" class="panel panel-default section">
         <div class="panel-heading">
            <div class="panel-title">{{sectionval.key}}</div>
         </div>
         <div class="panel-body">
            <div ng-repeat="(questionkey, quesionval) in sectionval.value">
               <h4 class="question">{{quesionval.key}}</h4>
               <p class="questionanswer">{{quesionval.value}}</p>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3">
      <!-- Tasks-->
      <div class="panel panel-default">
         <div class="panel-heading">Tasks</div>
         <div class="panel-body">
            <ul class="list-unstyled">
               <li>
                  <a href="" ng-click="delete()">
                     <em class="fa fa-angle-right fa-fw"></em>Delete</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- Location-->
      <div class="panel panel-default">
         <div class="panel-heading">Location</div>
         <div class="panel-body">
            <ul class="list-unstyled">
               <li>Location: {{response.lat}}, {{response.lng}}</li>
               <li>Accuracy: {{response.locAcc}}m</li>
            </ul>
            <leaflet center="map.center" markers="map.markers" class="map mapbig"></leaflet>
         </div>
      </div>
      <!-- Properties-->
      <div class="panel panel-default">
         <div class="panel-heading">Properties</div>
         <div class="panel-body">
            <ul>
               <li>Date {{response.timestamp | date:'medium'}}</li>
            </ul>
         </div>
      </div>
   </div>
</div>