<div class="row response">
   <!-- Blog Content-->
   <div class="col-lg-9">
      <div class="panel panel-default">
         <div class="panel-heading">
            <div class="bb">
               <h3 class="text-lg">Response to {{questionnaire.name}}</h3>
            </div>
         </div>
         <div class="panel-body text-md">
            <p>{{questionnaire.description}}</p>
         </div>
      </div>
      <div ng-repeat="section in response.data" class="panel panel-default section">
         <div class="panel-heading">
            <div class="panel-title">{{section.title}}</div>
         </div>
         <div class="panel-body">
            <div ng-repeat="question in section.questions">
               <h4 class="question">{{question.title}}</h4>
               <p class="questionanswer">{{question.answer}}</p>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-3">
      <!-- Media-->
      <div class="panel panel-default">
         <div class="panel-heading">Media</div>
         <div class="panel-body">
            <div ng-repeat="mediaItem in response.media">
               <a href="/api/media/{{mediaItem}}">
                  <img ng-src="/api/media/{{mediaItem}}" ng-if="isImage(mediaItem)" class="max100" />
               </a>
               <audio ng-if="isAudio(mediaItem)" controls="controls">
                  <source src="{{getUrl(mediaItem)}}" />
               </audio>
            </div>
         </div>
      </div>
      <!-- Tasks-->
      <div class="panel panel-default">
         <div class="panel-heading">Tasks</div>
         <div class="panel-body">
            <ul class="list-unstyled">
               <li>
                  <a href="" ng-click="delete()">
                     <em class="fa fa-angle-right fa-fw"></em>Delete</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- Location-->
      <div class="panel panel-default">
         <div class="panel-heading">Location</div>
         <div class="panel-body">
            <ul class="list-unstyled">
               <li>Location: {{response.lat}}, {{response.lng}}</li>
               <li>Accuracy: {{response.locAcc}}m</li>
            </ul>
            <leaflet center="map.center" markers="map.markers" class="map mapmid"></leaflet>
         </div>
      </div>
      <!-- Properties-->
      <div class="panel panel-default">
         <div class="panel-heading">Properties</div>
         <div class="panel-body">
            <ul>
               <li>Date {{response.timestamp | date:'medium'}}</li>
            </ul>
         </div>
      </div>
   </div>
</div>