h3 
  | Dashboard
  small {{ 'dashboard.WELCOME' | translate:{ appName: app.name } }}!

// START widgets box
div(ng-controller="DashboardController as dash")
  .row
    .col-lg-4.col-sm-6
      // START widget
      .panel.widget.bg-green
        .row.row-table
          .col-xs-4.text-center.bg-green-dark.pv-lg
            em.icon-pencil.fa-3x
          .col-xs-8.pv-lg
            .h2.mt0 {{dash.totalQuestionnaires}}
            .text-uppercase Questionnaires
    .col-lg-4.col-md-6.col-sm-12
      // START widget
      .panel.widget.bg-primary
        .row.row-table
          .col-xs-4.text-center.bg-primary-dark.pv-lg
            em.icon-cloud-upload.fa-3x
          .col-xs-8.pv-lg
            .h2.mt0 {{dash.totalResponses}}
            .text-uppercase Responses
    .col-lg-4.col-md-6.col-sm-12
      // START date widget
      .panel.widget
        .row.row-table
          .col-xs-4.text-center.bg-green.pv-lg
            // See formats: https://docs.angularjs.org/api/ng/filter/date
            now.text-sm(format='MMMM')
            br
            now.h2.mt0(format="d")
          .col-xs-8.pv-lg
            now.text-uppercase(format='EEEE')
            br
            now.h2.mt0(format='h:mm')
            now.text-muted.text-sm(format='a')
      // END date widget    
  // END widgets box
  .col-lg-12
    //- - - - - - - - - - - - - - - - - - - - - - - - - -
    //- Timeline
    //- - - - - - - - - - - - - - - - - - - - - - - - - -
    //- h3 Timeline
    // START timeline
    ul(ng-class="timelineAlt ? 'timeline-alt' : 'timeline'", ng-init="timelineAlt=false")
      li.timeline-separator(data-datetime="Now")
      
      // START timeline item
      li(ng-repeat='event in dash.events', ng-class-even="'timeline-inverted'")
        .timeline-badge.primary
          em.fa.fa-pencil-square-o
        .timeline-panel
          .popover(ng-class-odd="'left'" ng-class-even="'right'")
              h4.popover-title {{event.timestamp | date: 'h:mm a MMM d, y'}}
              .arrow
              .popover-content
                .row
                  .col-lg-6
                    img.media(src="/api/map/?lat={{event.lat}}&lng={{event.lng}}")
                  .col-lg-6(ng-if="event.media")
                    img.media(ng-src="/api/media/{{event.media[0]}}")
      // END timeline item