h3 
  button(type='button' ui-sref='app.questionnairenew').btn.btn-primary.pull-right
    em.fa.fa-plus-circle.fa-fw.mr-sm
    | New Questionnaire
  | Questionnaires
  small Questionnaires owned by you 

.container-fluid(ng-controller="questionnairesCtrl as table")
  // Ajax Example
  .panel.panel-default
    .panel-heading
      button.pull-right.btn.btn-purple.btn-sm(ng-click='table.tableParams5.reload()') Reload
      //- .panel-title Ajax      
    table.table.table-striped.table-bordered.table-hover(ng-table='table.tableParams5')
      tbody
        tr(ng-repeat='model in $data') 
          td(data-title="'Name'")
            a(href="#/app/questionnaires/{{model.serverId}}") {{model.name}}
          td(data-title="'Description'") {{model.description}}
          td(data-title="'serverId'") {{model.serverId}}
          td(data-title="'Owner'")
            a(href="model.owner._id") {{model.owner.email}}
          td(data-title="'Url'")
            a(href="model.website")
              pre {{model.website}}