h3 New Questionnaire
  small Native AngularJS form wizard 
// START panel
.questionnairenew
  //- .panel.panel-default
  div 
    //-.panel-body
    form(form-wizard="", steps="4", novalidate="", ng-submit="alertSubmit()")
      .form-wizard.wizard-horizontal(ng-controller="questionnaireNewCtrl as dgnr")
        // START wizard steps indicator
        ol.row.panel.panel-default
            li.col-md-3(ng-class="{'active':wizard.active(1)}", ng-click="wizard.go(1)")
              h4 Start
              small.text-muted Add the basic details 
            li.col-md-3(ng-class="{'active':wizard.active(2)}", ng-click="wizard.go(2)")
              h4 Designer
              small.text-muted Design your form sections and questions 
            li.col-md-3(ng-class="{'active':wizard.active(3)}", ng-click="wizard.go(3)")
              h4 Splash page
              small.text-muted Add a splash page for users 
            li.col-md-3(ng-class="{'active':wizard.active(4)}", ng-click="wizard.go(4)")
              h4 Publish
              small.text-muted Set where to publish and we're done!
          // END wizard steps indicator

        // START Wizard Step inputs 
        div.panel.panel-default(ng-show="wizard.active(1)")
          .panel-body
            p The basic details so people can find your Questionnaire
            fieldset
              legend Start
              // START row 
              p Title
              input.mb-lg.form-control.input-lg(type="text", ng-model='dgnr.questionnaire.name', placeholder='Title')
              p Project Website
              input.mb-lg.form-control.input-lg(type="text", ng-model='dgnr.questionnaire.website', placeholder='http://')
              p Description
              textarea.form-control(rows='6', ng-model='dgnr.questionnaire.description')
              .clearfix
            ul.pager
              li.next
                a(ng-click="wizard.go(2)")
                  | Next 
                  span &rarr;
          // END Wizard Step inputs
        // START Wizard Step inputs 
        div(ng-show="wizard.active(2)" tour="",  backdrop="true")
          // START QBuilder
          h2 Form builder
          a.btn.btn-primary.mb-lg(ng-click='tour.restart(true)') Start Tour!
          div.row
            //- - - - - - - - - Sections - - - - - - - - - 
            .col-lg-3.sections
              .panel.panel-default(tour-step='', order='1', title='Sections', content='A questionnaire is broken up in to sections. Click a section to edit it or drag to reorder sections.', placement='right')
                .panel-body
                  h2 Sections
                  div
                    .screen.draggable-element-container.list-group(ui-sortable='dgnr.sectionOptions', ng-model='dgnr.questionnaire.sections')
                      .alert.section(ng-click='dgnr.sectionClick(section)', ng-class='{"alert-info": section === dgnr.selectedSection}', ng-repeat='section in dgnr.questionnaire.sections track by $index')
                        em.fa.fa-reorder.fa-fw.text-muted.mr-log.moveicon
                        | {{section.title}}
                        em.fa.fa-times.deleteicon(ng-click='dgnr.removeSection(section)')
                    .form-group
                      input.form-control(ng-model='dgnr.sectionToAdd', ng-keyup='$event.keyCode == 13 ? dgnr.addSection() : true', type='text', placeholder='Add Section')                
            //- - - - - - - - - Questions - - - - - - - - -
            .col-lg-6.minheight10.form(tour-step='', order='2', title='Questions', content='Inside each section there are questions.', placement='right')
              .panel.panel-default
                .panel-body
                  //- - - - - - - - New Questions - - - - -
                  .newquestionbuttons.row(ng-hide='dgnr.selectedSection == null', tour-step='', order='3', title='New question', content='Click to add a new question to the selected section', placement='right')
                    .btn.screen.col-md-3(ng-repeat='arr in dgnr.draggables track by $index', ng-model='arr')
                      .btn.btn-info(ng-click='dgnr.newQuestionClick(questionType)', ng-repeat='questionType in arr')
                        i.fa(ng-class="{'fa-check-square': questionType.type == 'multi','fa-circle-o': questionType.type == 'radio', 'fa-font': questionType.type == 'text', 'fa-quote-left': questionType.type == 'textarea'}")
                  //- - - - - - Nothing selected - - - - - 
                  div(ng-if='dgnr.selectedSection == null')
                    p Please create a new section or select a section from the right hand-side
                  //- - - - - - - Questions list - - - - -
                  .apps-container.screen.draggable-element-container(ui-sortable='dgnr.questionOptions', ng-model='dgnr.selectedSection.questions')
                    //- - - - Each question - - - - - - - - -
                    .form-group.formelementlistitem.alert.question(ng-click='dgnr.selectQuestion(question)' ng-class='{"alert-info": question === dgnr.selectedQuestion}' ng-repeat='question in dgnr.selectedSection.questions track by $index')
                      em.fa.fa-reorder.fa-fw.text-muted.mr-log.moveicon
                      | {{question.title}}
                      em.fa.fa-times.deleteicon(ng-click='dgnr.removeQuestion(question)')
                      //- - - - - Different types of questions - - - - - -
                      div(ng-if="question.type === 'text'")
                        input.form-control(type='text', placeholder='')
                      div(ng-if="question.type === 'textarea'")
                        textarea.form-control(type='text', placeholder='')
                      div(ng-if="question.type === 'radio'")
                        .radio(ng-repeat='choice in question.choices')
                          label
                            input(type='radio', name='{{question.title}}', value='{{choice.choice}}')
                            | {{choice.choice}}
                      div(ng-if="question.type === 'multi'")
                        .checkbox(ng-repeat='choice in question.choices')
                          label
                            input(type='checkbox', value='{{choice.choice}}')
                            | {{choice.choice}}
            //- - - - - - - - - Properties - - - - - - - - -
            .col-lg-3.properties(tour-step='', order='4', title='Properties', content='Edit section and Question properties', placement='left')
              .panel.panel-default
                .panel-body
                  h2 Properties
                  .apps-container.screen
                    //- Question details
                    div(ng-if='dgnr.selectedQuestion != null')
                      .form-group
                        label(for='title') Question
                        input.form-control(type='text', ng-model='dgnr.selectedQuestion.title', placeholder='Title')
                      .form-group.screen.draggable-element-container.list-group(ui-sortable='dgnr.questionOptions' ng-show='dgnr.selectedQuestion.choices', ng-if="dgnr.selectedQuestion.type === 'multi' || dgnr.selectedQuestion.type === 'radio'")
                        label(for='title') choices
                        div(ng-repeat='choice in dgnr.selectedQuestion.choices')
                          .list-group-item
                            em.fa.fa-reorder.fa-fw.text-muted.mr-log.moveicon
                            | {{choice.choice}}
                            em.fa.fa-times.deleteicon(ng-click='dgnr.removeOption(dgnr.selectedQuestion, choice)')
                        .form-group
                          input.form-control(ng-model='dgnr.choiceToAdd', ng-keyup='$event.keyCode == 13 ? dgnr.addOption() : true', type='text', placeholder='Add Choice')
                      .form-group
                        label(for='title') Required
                        input.form-control(type='checkbox', ng-model='dgnr.selectedQuestion.required')
                        p.help-block Require this question to be answered
                    //- Section details
                    div(ng-if='dgnr.selectedQuestion == null && dgnr.selectedSection != null')
                      .form-group
                        label(for='title') Section title
                        input.form-control(type='text', ng-model='dgnr.selectedSection.title', placeholder='Title')
                    //- Questionnaire details
                    div(ng-if='dgnr.selectedQuestion == null && dgnr.selectedSection == null')
                      p Select a section
                    //- import / export
                    //- .app
                    //-   .form-group
                    //-     label(for='title') Data
                    //-     textarea.importexport(rows='10', questionnaireJsonDirective='', ng-model-options="{ updateOn: 'blur', debounce: { 'default': 500, 'blur': 0 } }", ng-model='dgnr.questionnaire')


        // END Wizard Step inputs 
        // START Wizard Step inputs 
        div(ng-show="wizard.active(3)")
          .panel.panel-default
            .panel-body
              fieldset
                legend Splash page
                p The splash page is shown when starting a new response to a questionnaire. Longer content will scroll on smaller devices
                // START row 
                .row
                  .col-md-12
                    .form-group
                      label(for='title') Intro title
                      input.form-control(type='text', ng-model='dgnr.questionnaire.introTitle', placeholder='Welcome to...')
                    .form-group
                      label(for='title') Intro description
                      textarea.form-control(rows='6', ng-model='dgnr.questionnaire.introDescription', placeholder='Help us build a picture of...')
                    .form-group
                      label(for='title') Intro image
                      img.img-responsive(data-ng-src='{{dgnr.questionnaire.introImage}}', data-err-src='images/png/avatar.png')
                      input.form-control(type='file', ng-model='dgnr.questionnaire.introImage', accept='image/jpeg', app-filereader='')
                      p.help-block .jpg file with max dimensions of 600px x 600px
                // END row 
              ul.pager
                li.previous
                  a(ng-click="wizard.go(2)")
                    span &larr; Previous
                li.next
                  a(ng-click="wizard.go(4)")
                    span Next &rarr; 
                
        // END Wizard Step inputs 
        // START Wizard Step inputs 
        div(ng-show="wizard.active(4)")
          .panel.panel-default
            .panel-body
              fieldset
                legend Publish
                p Public questionnaires are indexed by our website and are available to browse and install. Private questionnaires can only be accessed using the QuickCode or QR code generated.
                p By publishing the data publicly all uploads will be available to download from the public questionnaire page.
              .row
                .col-md-12
                  .form-group.clearfix
                    .checkbox.c-checkbox.pull-left.mt0
                      label
                        input(type='checkbox', ng-model="dgnr.questionnaire.publicQuestionnaire")
                        span.fa.fa-check
                        |  Publicly publish Questionnaire
                  .form-group.clearfix
                    .checkbox.c-checkbox.pull-left.mt0
                      label
                        input(type='checkbox', ng-model="dgnr.questionnaire.publicData")
                        span.fa.fa-check
                        |  Publicly publish Data
                  .form-group.clearfix
                    a(ng-click="dgnr.submitQuestionnaire()") Publish
              ul.pager
                li.previous
                  a(ng-click="wizard.go(3)")
                    span &larr; Previous
            // END Wizard Step inputs 
// END panel 