.row.questionnaire
  // Blog Content
  .col-lg-9
    .panel.panel-default
      .panel-heading
        .bb
          h2.text-lg {{questionnaire.name}}
          p.clearfix
            span.pull-left
              small.mr-sm By 
                a(href="") {{questionnaire.owner.email}}
              small.mr-sm {{questionnaire.created | date:'medium'}}
              //- small 
              //-   strong {{$data.length}}
              //-   span responses
      .panel-body.text-md
        p {{questionnaire.description}}
        br
        //- Display latest photos
        //- hr
        //- .h3 Latest photos
        //- .row
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg4.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg5.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg7.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg8.jpg")
        //- br
        //- hr
        //- small.mr-sm Share
        //- .btn-group(role='group', aria-label='...')
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-facebook.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-twitter.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-google-plus.text-muted
        //-   //- button.btn.btn-default(type='button')
        //-   //-   em.fa.fa-tumblr.text-muted
        //-   //- button.btn.btn-default(type='button')
        //-   //-   em.fa.fa-pinterest.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-share-alt.text-muted
    .panel.panel-default
      .panel-heading
        .panel-title Response Map
      .panel-body
        leaflet.map.mapbig(center="map.center" markers="map.markers")
    .panel.panel-default
      .panel-heading
        //-button(ng-click="downloadAll()" class="pull-right btn btn-purple btn-sm") Download
        button(href="/api/questionnaires/{{questionnaire.serverId}}/download/csv" class="pull-right btn btn-purple btn-sm") Download
        .panel-title Responses
      .panel-body
        table.table.table-striped.table-bordered.table-hover(ng-table='tableResponses')
          tbody
            tr(ng-repeat='model in $data')
              td(data-title="'Time'")
                a(href="#/app/questionnaires/{{questionnaire.serverId}}/responses/{{model._id}}") {{model.timestamp | date:'medium'}}
              td(data-title="'Lat'") {{model.lat}}
              td(data-title="'Lng'") {{model.lng}}
              td(data-title="'Media'")
                div(ng-repeat="mediaItem in model.media")
                  a(href="/api/media/{{mediaItem}}")
                    img(ng-src="/api/media/{{mediaItem}}" class="max100" ng-if="isImage(mediaItem)")
                  audio(ng-if="isAudio(mediaItem)" controls)
                    source(src="{{getUrl(mediaItem)}}")
      // Blog Sidebar
  .col-lg-3
    // Install
    .panel.panel-default
      .panel-heading Install
      .panel-body
        form.form-horizontal
          .input-group
            p Install using the Quick Code 
            h3 {{questionnaire.serverId}}
            p Or scan the QR code
            img(src="/api/questionnaires/{{questionnaire.serverId}}/qr")
    // Categories
    .panel.panel-default
      .panel-heading Tasks
      .panel-body
        ul.list-unstyled
          li
            a(href="" ng-click="delete()") 
              em.fa.fa-angle-right.fa-fw
              | Delete
          //- li
          //-   a(href="") 
          //-     em.fa.fa-angle-right.fa-fw
          //-     | Deactivate
    // Tag Cloud
    .panel.panel-default
      .panel-heading Properties
      .panel-body
        ul.list-unstyled
          li Public: {{questionnaire.publicQuestionnaire}}
          li Public data: {{questionnaire.publicData}}
          li Website: 
            a(href="{{questionnaire.website}}") {{questionnaire.website}}
          li View public listing:
            a(href="{{getPublicUrl(questionnaire.serverId)}}") View website
    // Ads
    .panel.panel-default
      .panel-heading Intro
      .panel-body
        ul
          li Title {{questionnaire.introTitle}}
          li Description {{questionnaire.introDescription}}
        img.img-responsive(data-ng-src='{{questionnaire.introImage}}', data-err-src='images/png/avatar.png')

