.row.response
  // Blog Content
  .col-lg-9
    .panel.panel-default
      .panel-heading
        .bb
          h3.text-lg Response to {{questionnaire.name}}
      .panel-body.text-md
        p {{questionnaire.description}}
        //- br
        //- Display latest photos
        //- hr
        //- .h3 Latest photosx§
        //- .row
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg4.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg5.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg7.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg8.jpg")
        //- br
        //- hr
        //- small.mr-sm Share
        //- .btn-group(role='group', aria-label='...')
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-facebook.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-twitter.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-google-plus.text-muted
        //-   //- button.btn.btn-default(type='button')
        //-   //-   em.fa.fa-tumblr.text-muted
        //-   //- button.btn.btn-default(type='button')
        //-   //-   em.fa.fa-pinterest.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-share-alt.text-muted

    .panel.panel-default.section(ng-repeat="section in mResponse")
      .panel-heading
        .panel-title {{section.title}}
      .panel-body
        div(ng-repeat="question in section.questions")
          h4.question {{question.title}}
          p.questionanswer {{question.answer}}
        //- Loop through the sections
  .col-lg-3
    // Media
    .panel.panel-default
      .panel-heading Media
      .panel-body
        div(ng-repeat="mediaItem in response.media")
          a(href="/api/media/{{mediaItem}}")
            img(ng-src="/api/media/{{mediaItem}}" class="max100" ng-if="isImage(mediaItem)")
          audio(ng-if="isAudio(mediaItem)" controls)
            source(src="{{getUrl(mediaItem)}}")
    // Tasks
    .panel.panel-default
      .panel-heading Tasks
      .panel-body
        ul.list-unstyled
          li
            a(href="" ng-click="delete()") 
              em.fa.fa-angle-right.fa-fw
              | Delete
    // Location
    .panel.panel-default
      .panel-heading Location
      .panel-body
        ul.list-unstyled
          li Location: {{response.lat}}, {{response.lng}}
          li Accuracy: {{response.locAcc}}m
        leaflet.map.mapmid(center="map.center" markers="map.markers")
    // Properties
    .panel.panel-default
      .panel-heading Properties
      .panel-body
        ul
          li Date {{response.timestamp | date:'medium'}}