.row.response
  // Blog Content
  .col-lg-9
    .panel.panel-default
      .panel-heading
        .bb
          h3.text-lg Response to {{questionnaire.name}}
      .panel-body.text-md
        p {{questionnaire.description}}
        br
        //- Display latest photos
        //- hr
        //- .h3 Latest photosx§
        //- .row
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg4.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg5.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg7.jpg")
        //-   .col-xs-3
        //-     a(href=""): img.img-responsive(src="app/img/bg8.jpg")
        //- br
        //- hr
        //- small.mr-sm Share
        //- .btn-group(role='group', aria-label='...')
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-facebook.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-twitter.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-google-plus.text-muted
        //-   //- button.btn.btn-default(type='button')
        //-   //-   em.fa.fa-tumblr.text-muted
        //-   //- button.btn.btn-default(type='button')
        //-   //-   em.fa.fa-pinterest.text-muted
        //-   button.btn.btn-default(type='button')
        //-     em.fa.fa-share-alt.text-muted
    .panel.panel-default.section
      .panel-heading
        .panel-title raw
      .panel-body
        | {{mResponse}}
        //- Loop through the sections

    .panel.panel-default.section(ng-repeat="(sectionkey, sectionval) in response.data")
      .panel-heading
        .panel-title {{sectionval.key}}
      .panel-body
        div(ng-repeat="(questionkey, quesionval) in sectionval.value")
          h4.question {{quesionval.key}}
          p.questionanswer {{quesionval.value}}
        //- Loop through the sections
  .col-lg-3
    // Tasks
    .panel.panel-default
      .panel-heading Tasks
      .panel-body
        ul.list-unstyled
          li
            a(href="" ng-click="delete()") 
              em.fa.fa-angle-right.fa-fw
              | Delete
    // Location
    .panel.panel-default
      .panel-heading Location
      .panel-body
        ul.list-unstyled
          li Location: {{response.lat}}, {{response.lng}}
          li Accuracy: {{response.locAcc}}m

        leaflet.map.mapbig(center="map.center" markers="map.markers")

    // Properties
    .panel.panel-default
      .panel-heading Properties
      .panel-body
        ul
          li Date {{response.timestamp | date:'medium'}}