h3 
  button(type='button' ui-sref='app.questionnairenew').btn.btn-primary.pull-right
    em.fa.fa-plus-circle.fa-fw.mr-sm
    | New User
  | Users
  small Administer users of the system

.container-fluid(ng-controller="usersCtrl as table")
  // Ajax Example
  .panel.panel-default
    .panel-heading
      button.pull-right.btn.btn-purple.btn-sm(ng-click='table.tableParams5.Reload()') Reload
      //- .panel-title Ajax      
    table.table.table-striped.table-bordered.table-hover(ng-table='table.tableParams5')
      tbody
        tr(ng-repeat='model in $data') 
          td(data-title="'Username'")
            a(href="#/app/users/{{model._id}}") {{model.username}}
          td(data-title="'Email'")
            a(href="#/app/users/{{model._id}}") {{model.email}}
          td(data-title="'Photo'") {{model.photo}}
          td(data-title="'Organisation'")
            a(href="#/app/user/{{model.owner._id}}") {{model.owner.organisation}}
          td(data-title="'Super?'") {{model.isSuper}}          
          td(data-title="'Last login'") {{model.lastLogin}}